@import "./theme.css";
@import "./font.css";
@import "./iOS-fix.css";

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: var(--page-background-color, #000000);
    color: var(--page-text-color, #ffffff);
    /*-webkit-touch-callout: none !important;*/
}

emc-page {
    flex: 1;
}

/* footer design (until there is a custom element) */
.footer {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    bottom: 0;
    width: 100%;
    padding: 2px 2px;
    background-color: var(--navigation-background-color, #ffffff);
    color: var(--navigation-text-color, #000000);
    font-size: 0.8em;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;
}

@media (min-width: 501px) {

    .footer {
        font-size: 20px;
        font-weight: bold;
    }

}

/* busy animation */
@keyframes loading {
    0% { transform: rotate(-45deg) }
    50% { transform: rotate(45deg) }
    100% { transform: rotate(-45deg) }
}

#busy-animation {
    animation: loading 4s linear infinite;
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url(/images/fairy.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}